<!DOCTYPE html>
<html>
<head>
    <title>📚Book Details</title>
</head>
{% extends "base.html" %}

{% block content %}
<body>

<!-- TOP NAV -->


<div style="max-width:900px; margin:auto;">

{% if book is not none %}
<center>
<h1>{{ book.title }}</h1>

<p><b>Author:</b> {{ book.authors }}</p>
<p><b>Publisher:</b> {{ book.publisher }}</p>
<p><b>Genre:</b> {{ book.genre }}</p>
<p><b>Mood:</b> {{ book.mood }}</p>
<p><b>ISBN:</b> {{ book.isbn }}</p>
<p><b>Pages:</b> {{ book.pages }}</p>
<p><b>Rating:</b> {{ book.average_rating }}</p>

<h3>Description</h3>
<p>{{ book.description }}</p>
</center>
<hr>
<center>
<h2>Similar Books Based on your Search💖.</h2>
</center>
{% if ml_results is not none and ml_results|length > 0 %}
<table border="1" width="100%">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Mood</th>
        <th>Popularity</th>
    </tr>

    {% for _, row in ml_results.iterrows() %}
    <tr>
        <td>
            <a href="/book/{{ row.isbn }}">{{ row.title }}</a>
        </td>
        <td>{{ row.authors }}</td>
        <td>{{ row.genre }}</td>
        <td>{{ row.mood }}</td>
        <td>{{ row.popularity_level }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<center>
<p>🤔Thinking What you may like!.</p>
</center>
{% endif %}

{% else %}
<center>
<h3>Sorry😕, I think there is no match for your search. Try searching using other details😊.</h3>
</center>
{% endif %}

</div>

</body>
</html>
{% endblock %}