{% extends "base.html" %}

{% block content %}

<div style="max-width:500px; margin:auto; text-align:center;">

<h1>-----MiniBooks-----</h1>

<h2>Search your books you are looking for ✨</h2>

<h3>Using different details</h3>

<hr>
<form action="/recommend" method="post">
<div>
<label><b>Book Name</b></label><br>
<input placeholder="Don't use any special characters" type="text" name="book_name" size="40">
</div>
<br>

<div>
<label><b>Author</b></label><br>
<input placeholder="Don't use any special characters" type="text" name="author" size="40">
</div>

<br>

<div>
<label><b>Publisher</b></label><br>
<input placeholder="Don't use any special characters" type="text" name="publisher" size="40">
</div>

<br> 

<div>
<label><b>ISBN / ISBN13</b></label><br>
<input type="text" name="isbn" size="40">
</div>

<br>

<div>
<label><b>Mood</b></label><br>

<select name="mood">
<option value="">Any</option>

{% for m in moods %}
<option value="{{ m }}">{{ m }}</option>
{% endfor %}

</select>
</div>

<br>

<div>
<label><b>Genre</b></label><br>

<select name="genre">

<option value="">Any</option>

{% for g in genres %}
<option value="{{ g }}">{{ g }}</option>
{% endfor %}

</select>
</div>

<br><br>

<button type="submit" style="font-size:18px; padding:6px 14px;">
🔍 Search
</button>

</form>

<hr>

<h2>🏆 Popular Books</h2>

<h4>Today trendings ✨</h4>

<ul style="list-style:none; padding:0;">

{% for _, row in popular_books.iterrows() %}

<li style="margin:6px 0;">
<a href="/book/{{ row.isbn }}">
{{ row.title }} — {{ row.authors }}
</a>
</li>

{% endfor %}

</ul>

</div>

{% endblock %}