<div class="topbar">

<div class="left-section">

<span class="menu-icon" onclick="toggleSidebar()">☰</span>

<a href="javascript:location.reload()" class="app-title">
    <img src="{{ url_for('static', filename='images/library.png') }}" class="app-logo">
Minibooks
</a>

{% if request.path != "/" %}

<div class="nav-icons">
<a href="javascript:history.back()" title="Back">⬅</a>
<a href="/" title="Home">🏠</a>
<a href="javascript:history.forward()" title="Forward">➡</a>
</div>

{% endif %}

</div>

<div class="user-box">
Hello {{ session.get("username") }}
</div>

</div>



<!-- SIDEBAR -->

<div id="sidebar" class="sidebar">

<h2 class="menu-title">Menu</h2>

{% if session.get("role") == "guest" %}

<a class="menu-item {% if request.path == '/' %}active{% endif %}" href="/">🏠 Home</a>
<a class="menu-item" href="#" onclick="openSettings()">⚙ Settings</a>
<a class="menu-item" href="/login">🔐 Login </a>

{% elif session.get("role") == "user" %}

<a class="menu-item {% if request.path == '/' %}active{% endif %}" href="/">🏠 Home</a>
<a class="menu-item" href="#" onclick="openSettings()">⚙ Settings</a>
<a class="logout-btn" href="/logout">🚪 Logout</a>

{% elif session.get("role") == "admin" %}

<a class="menu-item {% if request.path == '/' %}active{% endif %}" href="/">🏠 Home</a>
<a class="menu-item {% if request.path.startswith('/admin') and request.path == '/admin' %}active{% endif %}" href="/admin">📊 Dashboard</a>
<a class="menu-item {% if request.path.startswith('/admin/users') %}active{% endif %}" href="/admin/users">👥 Users</a>
<a class="menu-item {% if request.path.startswith('/admin/books') %}active{% endif %}" href="/admin/books">📚 Books</a>
<a class="menu-item {% if request.path.startswith('/admin/analytics') %}active{% endif %}" href="/admin/analytics">📊 Analytics</a>
<a class="menu-item" href="#" onclick="openSettings()">⚙ Settings</a>
<a class="logout-btn" href="/logout">🚪 Logout</a>

{% endif %}

</div>

<div id="overlay" class="overlay" onclick="closeSidebar()"></div>

<!-- SETTINGS MODAL -->

<div id="settingsModal" class="settings-modal">

<div class="settings-box">

<div class="settings-header">
<span>Settings</span>
<button class="close-btn" onclick="closeSettings()">✖</button>
</div>

<div class="setting-row">
<span>Dark Mode</span>
<label class="switch">
<input type="checkbox">
<span class="slider"></span>
</label>
</div>

<div class="setting-row">
<span>Notifications</span>
<label class="switch">
<input type="checkbox" checked>
<span class="slider"></span>
</label>
</div>

<div class="setting-row">
<span>Sound</span>
<label class="switch">
<input type="checkbox" checked>
<span class="slider"></span>
</label>
</div>
</div>
</div>
<style>

body{
margin:0;
font-family:Segoe UI, Arial;
overflow-y:auto;
}

.app-logo{
height:20px;
width:18px;
}

.logo-container{
display:flex;
align-items:center;
gap:10px;
}

.logo-img{
height:32px;
width:32px;
}

.logo-text{
font-size:20px;
font-weight:bold;
}

.topbar{
height:60px;
background:#4fa3d1;
color:white;
display:flex;
align-items:center;
padding:0 20px;
position:fixed;
width:100%;
top:0;
z-index:2000;
box-shadow:0 2px 6px rgba(0,0,0,0.2);
}

.left-section{
display:flex;
align-items:center;
}

.menu-icon{
font-size:26px;
cursor:pointer;
margin-right:15px;
}

.menu-item.active{
    background-color:#3c6e8f;
    border-left:4px solid #4dd0e1;
    font-weight:bold;
}

.menu-item:hover{
    background:#2e4f64;
    transition:0.2s;
}

.app-title{
font-size:22px;
font-weight:bold;
color:white;
text-decoration:none;
margin-right:25px;
}

.nav-icons a{
color:white;
font-size:20px;
margin-right:18px;
text-decoration:none;
}

.user-box{
margin-left:auto;
margin-right:30px;
font-size:16px;
font-weight:500;
}

.sidebar{
position:fixed;
left:-240px;
top:60px;
width:240px;
height:100%;
background:#1f2933;
color:white;
transition:0.3s;
z-index:2100;
padding-top:20px;
}

.menu-title{
padding-left:20px;
font-size:20px;
margin-bottom:20px;
}

.menu-item{
display:block;
padding:14px 20px;
color:white;
text-decoration:none;
font-size:16px;
}

.menu-item:hover{
background:#374151;
}

.logout-btn{
display:block;
margin:30px 20px;
padding:12px;
text-align:center;
background:#e63946;
border-radius:6px;
color:white;
text-decoration:none;
font-weight:bold;
}

.logout-btn:hover{
background:#c1121f;
}

.overlay{
position:fixed;
top:60px;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.3);
display:none;
z-index:2050;
}

.settings-modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.4);
display:none;
align-items:center;
justify-content:center;
z-index:3000;
}

.settings-box{
width:350px;
background:#1f2933;
color:white;
border-radius:12px;
padding:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

.settings-header{
display:flex;
justify-content:space-between;
align-items:center;
font-size:20px;
margin-bottom:20px;
}

.close-btn{
background:none;
border:none;
color:white;
font-size:18px;
cursor:pointer;
}

.setting-row{
display:flex;
justify-content:space-between;
align-items:center;
margin:15px 0;
}

.switch{
position:relative;
display:inline-block;
width:40px;
height:20px;
}

.switch input{
display:none;
}

.slider{
position:absolute;
cursor:pointer;
top:0;
left:0;
right:0;
bottom:0;
background:#ccc;
border-radius:20px;
}

.slider:before{
position:absolute;
content:"";
height:16px;
width:16px;
left:2px;
bottom:2px;
background:white;
border-radius:50%;
transition:.3s;
}

input:checked + .slider{
background:#4fa3d1;
}

input:checked + .slider:before{
transform:translateX(20px);
}

</style>



<script>

function openSettings(){
document.getElementById("settingsModal").style.display="flex"
}

function closeSettings(){
document.getElementById("settingsModal").style.display="none"
}

function toggleSidebar(){
const sidebar=document.getElementById("sidebar")
const overlay=document.getElementById("overlay")
sidebar.style.left="0px"
overlay.style.display="block"
}

function closeSidebar(){
const sidebar=document.getElementById("sidebar")
const overlay=document.getElementById("overlay")
sidebar.style.left="-240px"
overlay.style.display="none"
}

</script>